body {
    font-family: "Baskerville";
    margin: 2% 20%;
}

#file{
    display: none;
  }

.file-button {
    font-family: "Baskerville";
    font-size: 1.5rem;
    display: flex;
    height: 50px;
    width: 30%;
    border-radius: 10px;
    border:1px solid black;
    background-color: silver;
    justify-content: center;
    align-items: center;
}

.submit-button {
    font-family: "Baskerville";
    font-size: 1.5rem;
    height: 50px;
    width: 30%;
    border-radius: 10px;
    border:1px solid black;
    margin-bottom: 20px;
    background-color: silver;
}

.color-card {
    display: flex;
}

.show-color {
    display: flex;
    height: 50px;
    width: 30%;
    border-radius: 10px;
    border:1px solid black;
}

.show-hex-info {
    display: flex;
    height: 50px;
    width: 30%;
    margin: 0 0 0 50px;
    padding: 0 0 0 10px;
    border-radius: 10px;
    border:1px solid black;
    justify-content: center;
    align-items: center;
}

.show-rgb-info {
    display: flex;
    height: 50px;
    width: 30%;
    margin: 0 0 0 50px;
    padding: 0 0 0 10px;
    border-radius: 10px;
    border:1px solid black;
    justify-content: center;
    align-items: center;
}